{% extends "base.html" %}

{%block content%}
<div class="container d-flex flex-row pt-4" id="about">
        <div class=" col pt-2" id="about_col1">
                <p>Price4Cast is a project implemented by the
                         students of makerere university of the a final year project</p>
                <p>The project is intended to increase the accuracy of the existing 
                        forecasting models and to enhance explainability and transparency of 
                        of the predictions done by the machine learning algorithms

                </p>

        </div>
        <div class=" col-6">
                <h5 >MISSION: </h5>To provide the most accurate and Reliable price Trends and 
                insights <br>
                <h5>VISION:</h5> To enable a better way of life by enabling a better planning 
                for both individuals and componies hence through our future price predictions <br>
                <p class="pt-3">Price4Cast allows users to forecast prices for basic food commodities in 
                        different Ugandan markets. 
                        It is able to make recommendations to users about the best ideal procurement
                        decissions and different time periods.

                </p>
                <p>It provides Transparency for the machine learning algorithms 
                        in order to enable reliable predictions for the users.
                </p>
        </div>

        <div class="d-inline-flex col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ea doloribus quod sit sint non adipisci. Voluptates architecto ipsam odio? Aspernatur ut perferendis eius dolorem nulla delectus error totam eaque!</div>
</div>

{% endblock %}